<style>
/* Remove the navbar's default margin-bottom and rounded borders */
body {
    background-color: white;
    font-family: sans-serif;
    box-sizing: border-box;
}

.card {
    background-color: #dce4a0;
    padding: 2em;
    box-shadow: -2px -2px 6px #0a10143d, inset -2px -2px 6px #0a10143d;
    box-sizing: border-box;
}
.card-sect {
    background-color: #F5F5DC;

    box-sizing: border-box;
}



/**************** Font *************************/
p strong{
    font-size: 1.8em;
}

.big-font{
    font-family: sans-serif;
    font-size: 1.4em;
      line-height: 1.5em;
}


/*font-family: 'Lobster', cursive;*/


/**************** End Font *************************/


/**************** Responsive Design *************************/

@media screen and (min-width: 948px) and (max-width:1368px) {
        .logo-description>p{
            font-size: 6em !important;

        }

}

@media screen and (min-width: 768px) and (max-width:1000px) {
/* Change Breakpoint for nav*/
   .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
/* Change Breakpoint for nav*/

}

    @media screen and  (min-width: 420px) and (max-width: 768px){
        .logo-description>p{
            font-size: 3.5em !important;
        }

     }

/* Smartphones (portrait) ----------- */

@media screen and (min-width: 321px) and (max-width: 420px){
    .logo-description>p{
        font-size: 2.5em !important;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 321px) {
    .logo-description>p{
        font-size: 2.5em !important;
    }

    .big-font{
        font-size: 1.2em;
    }

}
/**************** End Responsive Design *************************/

/*************    Animation   ************************/
.myslide {
    /* The name of the animation */
    animation-name: myslide;
    -webkit-animation-name: myslide;
    /* The duration of the animation */
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    /* Make the element visible */
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;

}


/* created an animation effect which will slide in elements on scroll. If you want to use it, just add the .slideanim class to the element you want to slide in, and add the following to your CSS and jQuery (feel free to modify the duration, opacity, where to start, when to slide in, and so on).
*/

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes myslide {
    0% {
        opacity: 0.6;
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 1;
        transform: scale(0%, 0%);
    }
}
@-webkit-keyframes myslide {
    0% {
        opacity: 0.5;
        -webkit-transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(0%, 0%);
    }
}

/********************** End Animation **********************/

/*************    Navigation Bar   ************************/
    .navbar {                           /* Main navigation bar*/
        background-position: right;
        background-color: #c7df60;
        position: sticky;
        top: 0;
        margin: 0 0;
        height: 3.9em;
        border-style: none;
        z-index: 100;
    }

    .navbar-header{ /* Button area symbol */
        border-style: none;
        background-color: #c7df60;
    }

/*    Style of Buttons    */
    .navbar-inverse .navbar-nav>li>a{
        text-align: center;
        font: normal bold 1.5em arial;      /*Font of the words*/
        color: #474812;
    }


    nav ul li a:hover {
        background: #70BA16;
        background: -webkit-gradient(linear, left bottom, left top, from(#70BA16), to(#70BA16));
        background: -moz-linear-gradient(bottom, #70BA16, #70BA16);
        background: linear-gradient(to bottom, #70BA16, #70BA16);
    }
      nav ul li a:active{
        background: #EBD73F;
        background: -webkit-gradient(linear, left bottom, left top, from(#EBD73F), to(#EBD73F));
        background: -moz-linear-gradient(bottom, #EBD73F, #EBD73F);
        background: linear-gradient(to bottom, #EBD73F, #EBD73F);
      }


/*     Color of the button box*/
      button.navbar-toggle, button.navbar-toggle:hover, button.navbar-toggle:checked, button.navbar-toggle:default{
          background-color: #58a758;
          border: none;

      }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #70ba16c7; /* change color of the toggle */

    }

     .navbar-collapse, .navbar-form {
        border: none;
    }



      .navbar-inverse .navbar-nav>.active>a{
          background-color: rgba(118, 158, 56, 2.0);
          padding-bottom: auto;
          background-color: none;

      }

      .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
          background-color: rgba(118, 158, 56, 2.0);    /*Change color when hover over the button*/
      }

      div#myNavbar.navbar-collapse.collapse.in{
            background: #eef2b8aa;      /* Background of the collapsed area */

      }
/*************    End Navigation Bar   ************************/




/*************    Logo   ************************/
.wrapper-bg{
    background-color: #c7df60;
}
      .logo-area{
        background-color: #c7df60;
        background: -webkit-gradient(linear, left bottom, left top, from(#e3e4b5), to(#c7e05f));
        background: -moz-linear-gradient(bottom, #e3e4b5, #c7e05f);
        background: linear-gradient(to top, #e3e4b5, #c7e05f);

        clear: left;

        padding-top: 0.5em;
      }


    .logo-description>p{
        font-size: 5em;
        font-family: 'Kaushan Script', 'Berkshire Swash', sans-serif;
        color: #c56943;
    }

/*************    End Logo   ************************/


  /*************    Meet Dr. Vu   ************************/
/**header**/
.meet-dr-big-font{
    margin: 0;
    font-size: 2.2em;
    font-family:  'Lobster', serif;
    color: #b733a8;
}

.meet-dr-header{
    background-image: url("../Images/lotus-background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}
/** Endheader**/
.doctor-vu-background{
    background-color: #ffd990;
    background: -webkit-gradient(linear, left bottom, left top, from(#e1ba61), to(#ffebae));
    background: -moz-linear-gradient(bottom, #e1ba61, #ffebae);
    background: -o-linear-gradient(bottom, #e1ba61, #ffebae);
    background: linear-gradient(to top, #e1ba61, #ffebae);
    box-shadow: -2px -2px 10px #0a10143d;
    box-sizing: border-box;
    padding: 2em;
}

.img-display{
    max-width: 80%;
    height: auto;
    max-height: 50em;
/*    margin-top: 10em;*/
/*    margin-bottom: auto;*/

/*    border-radius: 10%;*/
/*    border: 1px solid white;*/
/*    padding: 9px;*/
    background-color: white;
    box-shadow: 0 2px 6px 0;
/*    width: 150px;*/
}

.img-display:hover {
    box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);
}
.display-small-wrapper{
  display: flex;
margin: 2em auto;
     width: 55em;
}
 .img-display-small{
    width: 10em;
    height: 10em;
    border-radius: 79em;
 }

.meet-doctor-font{
    margin: 0;
    font-size: 2em;
    font-family:  'Lobster', serif;
    color: #bb551d;
/*    text-shadow:  0 0 0.9em #819c3e;*/
}

.duplicate-container{
    visibility: hidden;
    margin: -13em;
}
/*************    End Meet Dr. Vu   ************************/




/************************* Footer *****************/
footer{
    background-color: #8dca8d;
    border-top-style: ridge;
    border-top-width: 12px;
    border-top-color: #91d091f0;
}
.glyphicon-chevron-up{

    color: #839f3f;
    font-size: 1.5em;
}
.glyphicon-chevron-up:hover{
    color:#a0cc34;
    font-size: 2em;
}

footer ul li{
    font-size: 1.2em;
    font-family: serif;
    list-style-type: none;  /* turn off bullets points */
}

#footer-navigation{     /* Change the style of the link at footer */
    color: #045194;
    font-size: 1.4em;
    font-weight: 600;
}

  #footer-navigation:hover{
    color: #040c13;     /**Set the color of the navigation at footer**/
}

.contactus-description{
    font-family: 'Lobster', cursive;
    color:  #000000;
    font-size: 2em;
}


/*************Font Awesome******/
.big-font-fa{
    font-size: 7.2em;
    padding: 10px;
    margin: 5px;
}
.small-font-fa{
    font-size: 3.2em;
    padding: 10px;
    margin: 5px;
}
.fa-phone-square{
    color: #3e901f;
}
.fa-phone-square:hover, .fa-phone-square:focus{
    transform: scale(1.2);
    color: #579e3c;
}

.fa-envelope-square{
    color: #4877c1;
}
.fa-envelope-square:hover, fa-envelope-square:focus{
    transform: scale(1.2);
    color: #2871e4;
}
.fa-facebook-square{
    color: #1c3b84;

}
.fa-facebook-square:hover, .fa-facebook-square:focus{
    transform: scale(1.2);
    color: #42578a;
}

/************ ENd Font Awesome******/
.fa-youtube{
    font-size: 2.2em;
    color: #ad1d1d;
    padding: 0 3px;
}

.fa-youtube:hover, .fa-youtube:focus{
    font-size: 2.5em;
    color: #d14949;
}

#linkin{
    color: #152388;
/*    text-decoration: underline;*/
}

#linkin:hover{
    color: #040c13;     /**Set the linkin when mouse hovers **/
}

.footer-loc-time-description{
    font-weight: 100;
    font-size: 1.3em;
    font-family: serif;
    color: #6d0808;
}
/************************* End Footer *****************/

</style>
