<style>  
/* Remove the navbar's default margin-bottom and rounded borders */ 
body {
    background-color: white; 
    font-family: serif;
    box-sizing: border-box;
}

/**************** Font *************************/
p strong{
    font-size: 1.8em;
}

.big-font{
    font-family: sans-serif;
    font-size: 1.4em;
      line-height: 1.5em;
}

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');  
/*      font-family: 'Slabo 27px', serif; */
 
/*font-family: 'Lobster', cursive;*/


/**************** End Font *************************/


/**************** Responsive Design *************************/
@media screen and  (min-width: 1368px){
    .font-lg-bigger{
        font-size: 4em !important;
    }
    .font-sm-bigger{
        font-size: 1.5em;
    }
        .logo-description>p{
            font-size: 6em !important;
             
        }
}
@media screen and (min-width: 948px) and (max-width:1368px) {
        .logo-description>p{
            font-size: 6em !important;
             
        }
       
    #myCarousel.carousel{ 
        max-width: 60em !important;    
        /******* Depends on the Quality of the Image, set to appropriate width *******/    
    }
    

}
      
@media screen and (min-width: 768px) and (max-width:948px) {
/* Change Breakpoint for nav*/
   .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
/* Change Breakpoint for nav*/
 
    
}

    @media screen and  (min-width: 420px) and (max-width: 768px){
        .logo-description>p{
            font-size: 3.5em !important;            
        }
 
     }

/* Smartphones (portrait) ----------- */

@media screen and (min-width: 321px) and (max-width: 420px){
    .logo-description>p{
        font-size: 2.5em !important;
    }
    .font-lg-bigger{
        font-size: 2em !important;
    }
    .font-sm-bigger{
        font-size: 1em !important;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 321px) {
    .logo-description>p{
        font-size: 2em !important;
        padding-left: 4px;
        padding-right: 4px;
    }
 
  
    
    .font-lg-bigger{
        font-size: 1.5em !important;
    }
    .font-sm-bigger{
        font-size: 0.7em !important;
    }
    
    .big-font{
        font-size: 0.5em;   
    }
    .item h4{
        font-size: 0.6em !important;
    }
  .welcome-font{
        font-size: 0.9em !important; 
    }
}
/**************** End Responsive Design *************************/

/*************    Animation   ************************/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}


/* created an animation effect which will slide in elements on scroll. If you want to use it, just add the .slideanim class to the element you want to slide in, and add the following to your CSS and jQuery (feel free to modify the duration, opacity, where to start, when to slide in, and so on).
*/

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

/********************** End Animation **********************/

/*************    Navigation Bar   ************************/
 
    .navbar {                           /* Main navigation bar*/
        background-color: #c7df60;
        position: sticky;
        top: 0;
        margin: 0 0;
        height: 3.9em;
        border-style: none;
        z-index: 100;
    }

    .navbar-header{ /* Button area symbol */
        border-style: none;
        background-color: #c7df60;
    } 
 
/*    Style of Buttons    */
    .navbar-inverse .navbar-nav>li>a{
        text-align: center;
        font: normal bold 1.5em arial;      /*Font of the words*/
        color: #474812;
    }
 
 
    nav ul li a:hover {
        background: #70BA16;
        background: -webkit-gradient(linear, left bottom, left top, from(#70BA16), to(#70BA16));
        background: -moz-linear-gradient(bottom, #70BA16, #70BA16);
        background: linear-gradient(to bottom, #70BA16, #70BA16);
    }
      nav ul li a:active{
        background: #EBD73F;
        background: -webkit-gradient(linear, left bottom, left top, from(#EBD73F), to(#EBD73F));
        background: -moz-linear-gradient(bottom, #EBD73F, #EBD73F);
        background: linear-gradient(to bottom, #EBD73F, #EBD73F);
      }
    
      
/*     Color of the button box*/
      button.navbar-toggle, button.navbar-toggle:hover, button.navbar-toggle:checked, button.navbar-toggle:default{
          background-color: #58a758;
          border: none;
          
      }
      
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #70ba16c7; /* change color of the toggle */
 
    }

     .navbar-collapse, .navbar-form {
        border: none;
    }


      
      .navbar-inverse .navbar-nav>.active>a{
          background-color: rgba(118, 158, 56, 2.0);
          padding-bottom: auto;
          background-color: none;
  
      }
      
      .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
          background-color: rgba(118, 158, 56, 2.0);    /*Change color when hover over the button*/
      }
  
      div#myNavbar.navbar-collapse.collapse.in{
            background: #eef2b8aa;      /* Background of the collapsed area */
      
      }
 

     
/*************    End Navigation Bar   ************************/
    


   
      
/*************    Logo   ************************/
.wrapper-bg{
    background-color: #c7df60;
}
      .logo-area{
        background-color: #c7df60;
        background: -webkit-gradient(linear, left bottom, left top, from(#e3e4b5), to(#c7e05f));
        background: -moz-linear-gradient(bottom, #e3e4b5, #c7e05f);
        background: linear-gradient(to top, #e3e4b5, #c7e05f);
 
        clear: left;
         
        padding-top: 0.5em;
      }
 
 
    .logo-description>p{  
        font-size: 5em;
        font-family: 'Kaushan Script', 'Berkshire Swash', sans-serif;
        color: #c56943;
        margin: 0;
    }
      
/*************    End Logo   ************************/
      
      


/*************    Carousel   ************************/
 
div.background-for-carousel{
    background:rgba(210, 226, 178, 3.8); 
    background-image: url("../Images/lotus-background.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
/*    z-index: -100;*/

}
 
#myCarousel.carousel{
    background:  rgba(210, 226, 178, 3.8); 
    margin: 0 auto;
    padding: 0;
    max-width: 70em;    
    /******* Depends on the Quality of the Image, set to appropriate width *******/    
}
.carousel-caption>h1{
   font-size: 2.6em;
   font-family: 'Berkshire', sans-serif;

}
.main-carousel-inner > .item {
/*    position: relative;*/
/*    display: none;*/
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}
/*************    End Carousel   ************************/  
    
/*************    Schedule   ************************/

 
 
.schedule-container{
background-color: #ffd990;
     background: -webkit-gradient(linear, left bottom, left top, from(#e1ba61), to(#ffebae));
    background: -moz-linear-gradient(bottom, #e1ba61, #ffebae);
    background: -o-linear-gradient(bottom, #e1ba61, #ffebae);
    background: linear-gradient(to top, #e1ba61, #ffebae);
    box-shadow: -2px -2px 10px #0a10143d;
    box-sizing: border-box;
    padding: 2em;
}

.what-acupucnture-background{
/*    background-color: #83bcffd1;*/
    background-color: #ffd990;
     background: -webkit-gradient(linear, left bottom, left top, from(#e1ba61), to(#ffebae));
    background: -moz-linear-gradient(bottom, #e1ba61, #ffebae);
    background: -o-linear-gradient(bottom, #e1ba61, #ffebae);
    background: linear-gradient(to top, #e1ba61, #ffebae);
    box-shadow: -2px -2px 10px #0a10143d;
    box-sizing: border-box;
    padding: 2em;
    color: black;
}
 


/*************  End  Schedule   ************************/

.welcome-bg{
    background-color: #d4e48e; 
  
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: -2px -2px 10px #0a10143d;
    
}
.welcome-font{
    margin: 0;
    font-size: 2.2em;
    font-family:  'Lobster', serif;
    color: #c56943;
    padding-bottom: 0.5em;
 
}
.bold{
    font-weight: bold;
}
 

/*************** Goal ************************/

div.goal-container{
    background-color: rgba(210, 226, 178, 3.8); 
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(210, 226, 178, 3.8)), to(rgba(118, 158, 56, 2.0)));
    background: -moz-linear-gradient(bottom, rgba(210, 226, 178, 3.8), rgba(118, 158, 56, 2.0));
    background: -o-linear-gradient(bottom, rgba(210, 226, 178, 3.8), rgba(118, 158, 56, 2.0));
    background: linear-gradient(to top, rgba(210, 226, 178, 3.8), #6fc14e);
    padding-top: 3em;
    box-shadow: -2px -2px 10px #0a10143d;

}
      
.leading-jumpotron{
/*    background-image: url("");*/
/*          background-repeat: no-repeat;*/
/*          background-size: cover;*/
    height: 40em;
    padding: 20px;
    margin: 0;
}
#page-info{

    background-color: aqua;
    border: solid;
    border-color: red;
}

#inner-page-info{
    background-color: black;
    border: solid;
    border-color: red;
}

 
.additional-info>div{
    text-indent: 50px;
    /*    padding-top: 1em;*/
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family:  sans-serif;
        font-style: normal;
    /*        font-weight: 400;*/
        font-size: 1.8em;
    /*    background: gray;*/
}
 
/*************    End Goal   ************************/

/*************    Customers Say   ************************/
.customer-say-section{
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: #269426;
/*    border-bottom-style: solid;*/
/*    border-bottom-color: #269426;*/
/*    border-bottom-width: 7px;*/
    background: #d4e48e;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #289b2e;
}

.carousel-indicators li {
    border-color: #289b2e;
}

.carousel-indicators li.active {
    background-color: #289b2e;
}

.item h4 {
    font-size: 1.4em;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

 
.customer-say-section>h2{
    font-size: 3.5em;
    font-family: serif;
    font-weight: bold;
    padding-top: 0.5em;
/*    padding-bottom: 0;*/
    margin-bottom: 0;
        font-style: normal;
}

 
/************* End Customers Say   ************************/


/************************* Footer *****************/
footer{
    background-color: #8dca8d;
    border-top-style: ridge;
    border-top-width: 12px;
    border-top-color: #91d091f0;
}
.glyphicon-chevron-up{
    
    color: #839f3f;
    font-size: 1.5em;
}
.glyphicon-chevron-up:hover{
    color:#a0cc34;
    font-size: 2em;
}

footer ul li{
    font-size: 1.2em;
    font-family: serif;
    list-style-type: none;  /* turn off bullets points */
}

#footer-navigation{     /* Change the style of the link at footer */
    color: #045194;
    font-size: 1.4em;
    font-weight: 600;
}

  #footer-navigation:hover{
    color: #040c13;     /**Set the color of the navigation at footer**/
}

.contactus-description{
    font-family: 'Lobster', cursive;
    color:  #000000;
    font-size: 2em;
}

.fa-facebook-square{
    font-size: 2.2em;
    color: #1c3b84;
    padding: 0 3px;
}
.fa-facebook-square:hover, .fa-facebook-square:focus{
    font-size: 2.5em;
    color: #3963c5;
}
.fa-youtube{
    font-size: 2.2em;
    color: #ad1d1d;
    padding: 0 3px;
}

.fa-youtube:hover, .fa-youtube:focus{
    font-size: 2.5em;
    color: #d14949;
}
 
#linkin{
    color: #152388;
/*    text-decoration: underline;*/
}

#linkin:hover{
    color: #040c13;     /**Set the linkin when mouse hovers **/
}

.footer-loc-time-description{
    font-weight: 100;
    font-size: 1.6em;
    font-family: serif;
    color: #6d0808;
}
/************************* End Footer *****************/

</style>